* {
	margin: 0;
	padding: 0;
}

body {
	/*background: black;*/

	--z-index-page: 1;
	--z-index-fabs: 2;
	--z-index-infocard: 3;
	--z-index-sidebar: 4;
	--z-index-searchbar: 5;
}
/*#root{
	border-radius: 8px;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}*/

.addNewFab{
	z-index: var(--z-index-fabs);
	position: absolute !important;
	background: white !important;
	color: black !important;

	bottom: 32px;
	left: 16px;
}
.toggleFiltersFab{
	z-index: var(--z-index-fabs);
	position: absolute !important;
	background: white !important;
	color: black !important;

	bottom: 32px;
	right: 16px;

	display: none !important;
}
.filtersPanel{
	z-index: var(--z-index-fabs);
	position: absolute !important;
	background: white !important;
	color: black !important;

	/*bottom: calc(calc(32px + 56px) + 8px);*/
	bottom: 32px;
	right: 16px;
}
.filtersPanel.closed{
	border-radius: 28px;
}
.filtersPanel .CardActionArea .ListItem{
	height: 56px;
	padding: 0 16px;
}
.filtersPanel.closed .CardActionArea .ListItem{
	height: 56px;
	width: 56px;
	padding: 0;
}
.filtersPanel.closed .CardActionArea .ListItem .ListItemText{
	display: none;
}

.page {
	z-index: var(--z-index-page);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	transition: left 0.2s ease;
}
.page.sidebarIsOpen{
	left: 400px;
}


.SearchBar,
.InfoCard,
.Sidebar{
	position: absolute;
	height: auto;
	width: 400px;
	max-width: 100%;
	left: 0;
}

.Sidebar{
	z-index: var(--z-index-sidebar);
	top: 0;
	bottom: 0;

	border-radius: 0 !important;
	padding-top: 86px;

	overflow: auto !important;
	overflow-x: hidden !important;
	-webkit-overflow-scrolling: touch;
}
.Sidebar.hide{
	display: none;
}

.SearchBar{
	z-index: var(--z-index-searchbar);
	top: 0;
}
.InfoCard{
	z-index: var(--z-index-infocard);
	bottom: 0;
}


.filtersDrawer{

}

