* {
	margin: 0;
	padding: 0;
}

body {
	/*background: black;*/

	--z-index-page: 1;
	--z-index-fabs: 2;
	--z-index-infocard: 3;
	--z-index-sidebar: 4;
	--z-index-searchbar: 5;
}
/*#root{
	border-radius: 8px;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}*/

.addNewFab{
	z-index: var(--z-index-fabs);
	position: absolute !important;
	background: white !important;
	color: black !important;

	top: auto;
	bottom: 16px;
	left: 16px;
}
@media (max-width: 500px) {
	.addNewFab{
		right: 16px;
		left: auto;
		bottom: calc(20px + 16px);
	}
}

.filtersPanel{
	z-index: var(--z-index-fabs);
	position: absolute;

	top: calc(16px + 9px);
	left: calc(400px + 8px);
	max-width: calc(calc(100% - 400px) - 16px);

	pointer-events: none;
}
.filtersPanel .filterMenuInner{
	pointer-events: none;
}
.filtersPanel .filterMenuInner button{
	pointer-events: auto;
}
@media (max-width: 800px) {
	.filtersPanel{
		top: calc(52px + 16px);
		left: 0;
		right: 0;
		padding: 16px;
		max-width: none;
		overflow: auto;
		white-space: nowrap;

		pointer-events: auto;
	}
	.filtersPanel .filterMenuInner{
		display: inline-block;
		padding-right: 16px;

		pointer-events: auto;
	}
}

.page {
	z-index: var(--z-index-page);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	transition: left 0.2s ease;
}
.page.sidebarIsOpen{
	left: 200px;
}


.SearchBar,
.InfoCard,
.Sidebar{
	position: absolute;
	height: auto;
	width: 400px;
	max-width: 100%;
	left: 0;
}

.Sidebar{
	z-index: var(--z-index-sidebar);
	top: 0;
	bottom: 0;

	border-radius: 0 !important;
	padding-top: 86px;

	overflow: auto !important;
	overflow-x: hidden !important;
	-webkit-overflow-scrolling: touch;
}
.Sidebar.hide{
	display: none;
}

.SearchBar{
	z-index: var(--z-index-searchbar);
	top: 0;
}
.InfoCard{
	z-index: var(--z-index-infocard);
	bottom: 0;
}






