<!DOCTYPE html>
<html>
	<head>
		<title>Your Qiekub Profile</title>
		<style>
			* {
				padding: 0;
				margin: 0;
			}
			
			body {
				padding: 32px;
			}
			
			h1{
				margin-bottom: 32px;
			}
			h2,
			h3{
				margin-top: 16px;
				margin-bottom: 8px;
			}
			p {
				margin-bottom: 32px;
			}
			li {
				margin-bottom: 4px;
			}
			
			hr {
				border: none;
				background: black;
				height: 1px;
				margin: 32px 0;
			}
		</style>
	</head>
	<body>
		<% if (user) { %>
			<h1>Your Qiekub Profile</h1>
			<p>
				<a href="./logout/">Log Out</a>
			</p>
			
			<p>ID: <%= user %></p>

			<p>
				<a href="./auth/github/">
					Connect a <strong>GitHub</strong> Account to this Profile
				</a>
				<br>
				<a href="./auth/twitter/">
					Connect a <strong>Twitter</strong> Account to this Profile
				</a>
			</p>
		<% } else { %>
			<h1>Login to your Qiekub Profile</h1>
			<p>
				<a href="./auth/github/">Login with GitHub</a>
				<br>
				<a href="./auth/twitter/">Login with Twitter</a>
			</p>
		<% } %>
	</body>
</html>